# Package Files #
*.jar
*.ear
*.zip
*.tar.gz
*.rar

# ignore node/grunt dependency directories
node_modules/

# Intellij additional files
*.iml
*.idea
out
target
# ignore all . files and . folders
.*

# Dont ignore .gitignore
!/.gitignore
!/*.css
!/*.js
